# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0986f473b486695671a7ef4638e8b8f9f8af6b6ba35a661e531b38f1f6964fc152fe1946f82411a4e45e8b1aa567604dfd6c8c582eda026539e31b75111a4eff

test:
  secret_key_base: fa61f4dba13a1bb47a27ef11de8ef792acbe42052188f6b804dcf845eeaf5b8c3cbc15c51ccce56d1966b9e3995a9ca9e7201ce15b453b9f11a450df5497edda

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
